body{
   
    width: 100%;
}

.sidenav {
    height: 100%;
    background-color:#1e272e;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 70px;
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 100%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-color{
    background-color: #0fbcf9 !important;
    color: #fff;
}

.btn-color2{
    background-color:#00d8d6;
    color: #fff;
}

.over{
    font-size: 14px;
}
