{% extends 'base.html' %}


{% block title %}
    Login User
{% endblock title %}

{% block content %}
<div class="sidenav">
    <div class="login-main-text text-left">
       <h2 style="color: teal;"><strong>Inventory IT</strong></h2> <br>
       <img src="static/img/inventory.png">
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="login-form">
          <form method="POST">{% csrf_token %}
            {% if  form.errors %}
   
               <p class="alert alert-danger">
                  {{ form.errors }}
               </p>
               
            {% endif %}
             <div class="form-group">
                <label>User Name</label>
                {{form.username}}
             </div>
             <div class="form-group">
                <label>Password</label>
                {{form.password}}
             </div>
             <button type="submit" class="btn btn-color">Login</button>
             <a href="{% url 'users_app:register_user' %}" class="btn btn-color2 ">Register</a>
          </form>
       </div>
    </div>
 </div>


       
    
{% endblock content %}
