{% extends 'base.html' %}


{% block title %}
    Register User
{% endblock title %}



{% block content %}
<div class="py-3 px-5">
    <a href="{% url 'users_app:login_user' %}" class="btn btn-info">Back</a>
</div>
<div class="container col-lg-10 card" style="width: 60rem;">
        <h2 class="py-5 text-center" style=" color:turquoise;">Register</h2>    

    <form method="post">{% csrf_token %}
        <div class="form-row">
            
            <div class="form-group col-md-6">
                {{ form.first_name }}

            </div>
            <div class="form-group col-md-6">
                {{ form.last_name }}

            </div>
            </div>
            <div class="form-group">
                {{ form.username }}

            </div>
            <div class="form-group">
                {{ form.phone }}

            </div>
            <div class="form-group">
                
                {{ form.password1 }}

            </div>
            <div class="form-group">
                {{ form.password2 }}<br>

                {% if  form.errors %}
                    {% for error in form.password2.errors %}
                        <p class="alert alert-danger">
                            {{ error }}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
          
       <div>
        <button class="btn btn-primary btn-block btn-style" type="submit">Register</button>
       </div>
        
    </form>
    
</div>
    
{% endblock content %}


    