{% extends 'base.html' %}


{% block title %}
    Register Inventory
{% endblock title %}


{% block content %}

<div class="container col-lg-10 card " style="width: 60rem; height: 70rem;">
    <h2 class="py-5 text-center" style=" color:turquoise;">Register Inventory</h2>
    <form method="POST"> {% csrf_token %}
        
        <label>Location:</label>
        <div class="form-group">
            
                {{ form.location }}
        </div>
        
        <label>Direction:</label>
        <div class="form-group">
            {{ form.direction }}

        </div>
        <label>Hostname:</label>
        <div class="form-group">
            
            {{ form.hostname }}

        </div>
        <label>Nuuma:</label>
        <div class="form-group">
            {{ form.nuuma }}

        </div>
        <label>Serial Number:</label>
        <div class="form-group">
            {{ form.serial_number }}

        </div>
        <label>Product Number:</label>
        <div class="form-group">
            {{ form.product_number }}

        </div>
        <label>MAC Address:</label>
        <div class="form-group">
            {{ form.mac_address }}

        </div>
        <label>MAC Wifi:</label>
        <div class="form-group">
            {{ form.mac_wifi }}

        </div>
        <label>Manufacturer:</label>
        <div class="form-group">
            {{ form.manufacturer }}

        </div>
        <label>Model:</label>
        <div class="form-group">
            {{ form.model }}

        </div>
        <label>Name:</label>
        <div class="form-group">
            {{ form.name }}

        </div>
   <div class="form-group">
    <button class="btn btn-primary btn-block btn-style" type="submit" >Register</button>
   </div>
    </form>

</div>    
{% endblock content %}
    
